*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* HEADER */

nav
{
    display: flex;
    background-color: rgb(24, 27, 23);
    justify-content: space-between;
    padding: 25px;
}

.nav-title
{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 50px;
}

.nav-title p
{
    text-align: center;
}

.nav-ul
{
    display: flex;
    justify-content: center;
    margin: auto;
    list-style: none;
}

nav a
{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: 100;
    transition: 0.2s;
}
nav a:hover
{
    color: rgb(231, 153, 98);
    text-decoration: underline;
}


.nav-icon
{
    color: white;
}

.nav-btn
{
    background-color: orange;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1px;
    height: 40px;
    margin-top: 5px;
    font-weight: 600;
    width: 150px;
    border-radius: 10px;
    border: none;
    transition: 0.3s;
    margin-right: 60px;
}
.nav-btn:hover
{
    transform: translateY(-5px);
    background-color: white;
    color: orange;
}





















/* MAIN */


.section1{
    background-image: url(images/imagesection01.jpeg);
    width: 100%;
    height: 700px;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
    padding-top: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section1 h1{
    font-size: 50px;
}

.section1 .p1
{
    margin: auto;
    padding: 20px;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    width: 650px;
    text-align: center;
}
.section1 p
{
    margin: auto;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    width: 880px;
    font-weight: 100;
    text-align: center;
}


.section1 button
{
    background-color: orange;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1px;
    height: 40px;
    margin-top: 30px;
    font-weight: 600;
    width: 180px;
    border-radius: 5px;
    border: none;
    transition: 0.3s;
    margin-left: 30px;
}

.section1 button:hover
{
    transform: translateY(-5px);
    background-color: white;
    color: orange;
}

/* SECTION2 */


.section2
{
    background-color: black;
    color: white;
    height: 800px;
    padding-top: 100px;
}

.section2-box
{
    display: flex;
    justify-content: space-around;
}

.img-box2
{
    background-image: url(images/comidaimage.jpg);
    width: 400px;
    height: 500px;
    background-size: cover;
    border-radius: 5px;
}

.img-box3
{
    background-image: url(images/imagecomida.jpg);
    width: 400px;
    height: 500px;
    background-size: cover;
    border-radius: 5px;
}

.section2-txt
{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section2-txt p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}
.section2-txt h1
{
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 25px;
}

.box-txt{
    background-color: rgb(31, 30, 30);
    width: 400px;
    height: 500px;
    color: white;
    text-align: center;
    padding-top: 110px;
    border-radius: 5px;
}
.box-txt h1{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
}
.box-txt p
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
}
.box-txt .p
{
    color: rgb(163, 163, 163);
    width: 300px;
    padding-top: 40px;
    margin: auto;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
}

.box-txt button{
    margin-top: 50px;
    background-color: orange;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 40px;
    font-weight: 600;
    width: 100px;
    border-radius: 2px;
    border: none;
    transition: 0.3s;
}

.box-txt button:hover
{
    transform: translateY(-5px);
}

/* SECTION3 */

.section3{
    height: 600px;
    width: 100%;
    background-color: rgb(25, 40, 41);
    display: flex;
    justify-content: center;
    padding-top: 50px;
}


.section3-img
{
    background-image: url(images/section-image1.jpg);
    width: 400px;
    height: 500px;
    background-size: cover;
    margin-right: 100px;
}

.section3-box
{
    background-color: antiquewhite;
    height: 500px;
    width: 400px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section3-box h1{
    font-size: 34px;
}

.section3-box p 
{
    font-family: 'Courier New', Courier, monospace;
}

.section3-box button
{
    margin-top: 50px;
    background-color: orange;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 40px;
    font-weight: 600;
    width: 100px;
    border-radius: 2px;
    border: none;
    transition: 0.3s;
}

.section3-box button:hover
{
    transform: translateY(-8px);
}



a

.section3-box li
{
    display: flex;
}

.section3-box hr{
    width: 20px;
}



/* FOOTER */


.footer-redes
{
    display: flex;
    justify-content: space-evenly;
}

.t-redes
{
    padding-top: 50px;
}

.f-redes ul 
{
    list-style: none;
}


.f-redes a
{
    display: flex;
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 20px;
    padding: 10px;
    transition: 0.1s;
}

.f-redes h2
{
    display: flex;
}

.f-redes a:hover
{
    color: rgb(245, 233, 201);
    text-decoration: underline;

}

.footer-redes{
    color: white;
}

.fi-brands-whatsapp
{
    height: 100px;
    width: 100px;
}
.i
{
    
    padding-top: 20px;
}
.i-ul

{
    list-style: none;
}
i
{
    margin-top: 100px;
    padding-top: 10px;
    padding: 10px;
    width: 100px;
    height: 100px;

}

.social
{
    padding: 20px;
    transition: 0.2s;
}
.social:hover
{

    transform: translateY(-10px);
}
.img-social
{
    background-color: rgb(255, 255, 255);
    width: 40px;
    border-radius: 50%;
    padding: 8px;
}
.ul-social
{
    list-style: none;
    display: flex;
    padding-left: 50px;
}
footer
{
    padding: 20px;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}



