*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}




nav
{
    padding: 20px;
}

nav ul 
{
    list-style: none;
    display: flex;
    justify-content: center;
}

nav a
{
    text-decoration: none;
    margin: 10px;
    color: white;
}
nav a:hover
{
    text-decoration: underline;
}

.nav-title
{
    padding-left: 265px;
    color: white;
}




header
{
    background-image: url(images/header/WhatsApp\ Image\ 2025-04-23\ at\ 11.23.34\ \(1\).jpeg);
    background-size: cover;
    background-position: center;
    height: 600px;
}

.header-title
{
    text-align: center;
    color: white;
    width: 500px;
    margin: auto;
}

.header-title h1{
    margin-top: 30px;
    padding: 20px;
    font-size: 55px;
    margin-bottom: 50px;
}


.p-color
{
    display: flex;
    justify-content: center;
}

.p-color div
{
    margin: 5px;
}

.p-colorB
{
    color: bisque;
}

.header-title button
{
    all: unset;
    border: solid 2px;
    border-color: bisque;
    padding: 15px;
    border-radius: 3px;
    margin: 40px;
    margin-top: 50px;
    transition: 0.3s;
}

.header-title button:hover
{
    transform: translateY(-10px);
}



