*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}




nav
{
    background-color: antiquewhite;
    padding: 20px;
}

nav ul 
{
    list-style: none;
    display: flex;
    justify-content: center;
}

nav a
{
    text-decoration: none;
    margin: 10px;
}

.nav-title
{
    padding-left: 265px;
}




header
{
    background-color: rgb(171, 221, 221);
}

.header-title
{
    text-align: center;
    color: white;
    width: 300px;
    margin: auto;
}

.p-color
{
    text-wrap: nowrap;
    color: bisque;
}



