*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* HEADER */


nav
{
    display: flex;
    justify-content: space-between;
    height: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav ul
{
    margin-top: 30px;
    display: flex;
    list-style: none;
}

nav a
{
    text-decoration: none;
    margin: 15px;
    font-size: large;
    color: black;
}

nav a:hover
{
    text-decoration: underline;
}

nav button
{
    all: unset;
    padding: 15px;
    background-color: rgb(109, 81, 45);
    width: 150px;
    height: 17px;
    text-align: center;
    margin-top: 24px;
    margin-right: 35px;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
}

nav button:hover
{
    transform: translateY(-10px);
    background-color: rgb(155, 118, 71);
}

.nav-title
{
    margin-left: 40px;
    margin-top: 20px;
}



/* MAIN */

.section1
{
    background-image: url(images/section1/pexels-catscoming-1359307.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 100%;
}

.section1-content
{
    padding-top: 100px;
    width: 500px;
    margin-left: 400px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section1-content h2
{
    background-color: white;
    color: orange;
    width: 315px;
    text-align: center;
    border-radius: 3px;
}

.section1-content h1
{
    color: white;
    font-size: 70px;
    margin-top: 30px;
    text-wrap: nowrap;
}

.section1-content button
{
    all: unset;
    padding: 10px;
    border-radius: 4px;
    color: white;
    margin-top: 30px;
    background-color: orange;
    transition: 0.3s;
    width: 165px;
    font-weight: 700;
    text-align: center;
}

.section1-content button:hover
{
    transform: translateY(-10px);
    background-color: white;
    color: orange;
}

