*{
    margin: 0;
    padding: 0;
}
body
{
    background-color: rgb(16,28,52);
}
nav
{
    margin-top: 20px;
    justify-content: space-around;
    font-family: "Poppins", sans-serif;
    align-items: flex-end;
    padding-right: 70px;
}
.nav-itens ul{
    justify-content: end;
    list-style: none;
    display: flex;
    margin-top: 8px;
    gap: 20px;
    text-decoration: none;
}
.nav-itens a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.658);
    font-family: 'Fira Code', monospace;
}
.nav-itens a:hover
{
    transition: 0.4s;
    text-decoration: underline;
    color: white;
}
nav button
{
    padding: 7px;
    border-style:  solid;
    border-radius: 5px;
    border-color: rgb(95, 121, 160);
    background-color: rgb(16,28,52);
    color: rgb(100, 136, 190);
    transition: 0.3s;
}
.nav-itens button:hover
{
    transition: 0.3s;
    border-radius: 10px;
    transform: translateY(-10px);
    color: rgb(123, 180, 238);
}
.main-apresentação
{
    display: block;
    margin-right: 500px;
    border-radius: 10px;
    width: 600px;
    margin-top: 100px;
    margin-left: 300px;
}
.main-apresentação button
{
    padding: 15px;
    border-style:  solid;
    border-radius: 5px;
    background-color: rgb(16,28,52);
    margin-top: 15px;
    width: 350px;
    transition: 0.3s;
    font-weight: 700;
    border-color: rgb(95, 121, 160);
    color: rgb(100, 136, 190);
}
.main-apresentação button:hover
{
    border-radius: 12px;
    transform: translateY(-10px);
    color: rgb(123, 180, 238);
}
.main-apresentação .main-p{
    /* color: rgb(123, 180, 238);
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    text-wrap: nowrap;
    animation: typing 2s steps(20) infinite alternate-reverse; */
    color: rgb(123, 180, 238);
    width: 20ch;
    font-family: monospace;
    font-size: 40px;
    text-wrap: nowrap;
    overflow: hidden;
    animation: typing 2s steps(20) infinite alternate-reverse ;
}
@keyframes typing {
    from
    {
        width: 0ch;
    }
}
.main-apresentação > .sub-para{
    color: rgba(189, 189, 189, 0.651);
    margin: 10px;
    line-height: 1.8; /* espaçamento entre linhas */
    letter-spacing: 0.3px; /* leve espaçamento entre letras */
    max-width: 600px; /* limite da largura do parágrafo */
    font-size: 1rem; /* tamanho da fonte */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
}
.main-apresentação .sub-title
{
    color: rgba(255, 255, 255, 0.418);
}
.main-apresentação  h1
{
    white-space: nowrap;
    color: aliceblue;
    font-family: 'Inter';
    font-size: 4em;
}
.main-apresentação a
{
    color: rgb(110, 215, 250);
    text-decoration: none;
    font-weight: bold;
}
.main-apresentação a:hover
{
    text-decoration: underline;
}

.btn-info
{
    display: block;
    padding: 7px;
    border-style:  solid;
    border-radius: 5px;
    border-color: rgb(95, 121, 160);
    background-color: rgb(16,28,52);
    color: rgb(100, 136, 190);
    transition: 0.3s;
    margin-top: 15px;
    text-align: center;
    transition: 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left:309px;
    width: 445px;
    margin-top: 25px;
    text-decoration: none;

}
.btn-info:hover{
    transition: 0.3s;
    border-radius: 10px;
    transform: translateY(-10px);
    color: rgb(123, 180, 238);
}
.btn-info  a{
    color: rgb(100, 136, 190);
    text-decoration: none;
}