*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav
{
    background-color: white;
}

#nav-title
{
    padding-top: 20px;
    display: block;
    margin-left: 300px;
}

#nav-title h1{
    color: dodgerblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 7px;
}
#nav-title p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(172, 172, 172);
}

nav ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-right: 300px;
    padding-bottom: 15px;
}

nav a
{
    text-decoration: none;
    margin-right: 40px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

nav a:hover
{
    text-decoration: underline;
}
nav #a-color
{
    transition: 0.2s;
    color: dodgerblue;
}

nav #a-color:hover
{
    text-decoration: underline;
    color: black;
}



/* SECTION */


#section-apresentation
{
    background-image: url(images/section/backgroud.jpg);
    background-position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.section-div
{
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    padding-top: 250px;
}
#section-apresentation p
{
    text-align: center;
    align-items: center;
    margin: auto;
    width: 700px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 15px;
}

#section-apresentation h1{
    margin-bottom: 10px;
    color: white;
    font-size: 46px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#section-apresentation button
{
    border-radius: 7px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    width: 120px;
    padding: 10px;
    border: none;
    background-color: dodgerblue;
    transition: 0.2s;
}

#section-apresentation button:hover
{
    background-color: deepskyblue;
    transform: translateY(-5px);
}

#section-features
{
    background-color: white;
    height: 400px;
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
}



.card-feature
{
    margin: 100px;
    text-align: center;
    width: 300px;
    height: 210px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 50px;
}

.card-txt
{
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card-txt h1{
    margin-bottom: 10px;
    color: dodgerblue;
    margin-top: 10px;
    transition: 0.2s;
}

.card-txt h1:hover{
        color: black;
    
}

.card-feature img{
    background-size: cover;
    height: 50px;
    
}
.card-feature p{
    width: 300px;
    margin: auto;
    text-align: center;
}

.img-border
{
    background-color: black;
    padding: 20px;
    width: 100px;
    border-radius: 50%;
    margin: auto;
}


.card-feature button
{
    background-color: dodgerblue;
    padding: 15px;
    width: 100px;
    border: none;
    color: white;
    border-radius: 7px;
    margin-top: 15px;
    transition: 0.2s;
}

.card-feature button:hover
{
    background-color: deepskyblue;
    transform: translateY(-6px);
}






#section-conceptions
{
    height: 700px;
    width: 100%;
    background-color: dodgerblue;
    text-align: center;

}

#section-conceptions img
{
    width: 100%;
}

#section-conceptions h1{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px;
    transition: 0.3s;
}
#section-conceptions h1:hover{
    color: rgb(221, 221, 221);
}
#section-conceptions h3{
    background-color: white;
    margin: auto;
    margin-bottom: 20px;
    width: 200px;
    color: dodgerblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#section-conceptions p{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

.global-conceptions
{
    display: flex;
    justify-content: space-around;
}

.conception-feature
{
    width: 300px;
    height: 500px;
}














footer
{
    background-color: black;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-around;
}

footer h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin-top: 40px;
    padding-bottom: 10px;
}

.footer-div a{
    text-decoration: none;
    color: white;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    display: flex;
    padding-bottom:10px;
    transition: 0.2s;
}

.footer-div a:hover
{
    text-decoration: underline;
    color: dodgerblue;

}

.footer-div #sociais
{
    display: flex;
}

.social-icon
{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 1.5rem;
}

#footer-end
{
    padding: 10px;
    height: auto;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(29, 29, 29);
}



/* CELULARES */
@media (max-width: 720px)
{
    nav
    {
        width: 720px;
        height: 105px;
    }

    #nav-title
    {
        width: 100px;
        margin-left: 550px;
    }

    nav a
    {
        color: aliceblue;
    }

    nav ul
    {
        margin: auto;
        width: 400px;
    }

    #nav-title
    {
        margin-bottom: 10px;
    }

    #section-features
    {
        display: block;
        height: auto;
    }

    #section-apresentation
    {
        width: 100%;
    }

    .section-div p
    {
        padding: 10px;
    }

    .card-feature
    {
        margin-bottom: 150px;
        margin-top: 100px;
    }

    .global-conceptions
    {
        display: inline-block;
    }

    #section-conceptions
    {
        height: auto;
        padding: 10px;
    }

    
}

/* TABLETS */
@media (min-width: 768px) and (max-width: 1068px)
{

}





