*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav
{
    background-color: white;
}

#nav-title
{
    padding-top: 20px;
    display: block;
    margin-left: 300px;
}

#nav-title h1{
    color: dodgerblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 7px;
}
#nav-title p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(172, 172, 172);
}

nav ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-right: 300px;
    padding-bottom: 15px;
}

nav a
{
    text-decoration: none;
    margin-right: 40px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

nav a:hover
{
    text-decoration: underline;
}
nav #a-color
{
    transition: 0.2s;
    color: dodgerblue;
}

nav #a-color:hover
{
    text-decoration: underline;
    color: black;
}



/* SECTION */


#section-apresentation
{
    background-image: url(images/section/backgroud.jpg);
    background-position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.section-div
{
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    padding-top: 250px;
}
#section-apresentation p
{
    text-align: center;
    align-items: center;
    margin: auto;
    width: 700px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 15px;
}

#section-apresentation h1{
    margin-bottom: 10px;
    color: white;
    font-size: 46px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#section-apresentation button
{
    border-radius: 7px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    width: 120px;
    padding: 10px;
    border: none;
    background-color: dodgerblue;
    transition: 0.2s;
}

#section-apresentation button:hover
{
    background-color: deepskyblue;
    transform: translateY(-5px);
}

#section-features
{
    background-color: white;
    height: 500px;
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
}



.card-feature
{
    margin: 100px;
    text-align: center;
    width: 200px;
    height: 210px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 50px;
}

.card-txt
{
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card-txt h1{
    margin-bottom: 10px;
    color: dodgerblue;
    margin-top: 10px;
    
}

.card-feature img{
    background-size: cover;
    padding: 30px;
}

.img-border
{
    background-color: black;
    border-radius: 50%;
}


.card-feature button
{
    background-color: dodgerblue;
    padding: 15px;
    width: 100px;
    border: none;
    color: white;
    border-radius: 7px;
    margin-top: 15px;
    transition: 0.2s;
}

.card-feature button:hover
{
    background-color: deepskyblue;
    transform: translateY(-6px);
}

#section-conceptions
{
    height: 600px;
    width: 100%;
    background-color: dodgerblue;
}



